* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #bbc4c2;
}
.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #bbc4c2;
}
:root {
  --success: rgb(39, 112, 114);
  --bright: #fff;
  --dark: #121313;
}
@media only screen and (min-width: 300px) {
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
  .ag-format-container {
    width: 96%;
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
  .main--section {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-section {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* .card{
    height: 200px;
    width: 200px;
    background-color: var(--dark);
    border: 2px solid #fff;
    color: var(--bright);
  } */
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(85%);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    width: 70%;
    height: 40px;
    font-size: 1.2em;
    color: #fff;
    background-color:#3ecd5e;
    border-radius: 20px;
    border: none;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  .main-div{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #q-title{
    width:100%;
    height: 100px;
    font-size: 1.6em;
    text-transform: capitalize;
  }
  .quiz--display{
    width: 90%;
    height: 350px;
    background-color: #ffffff;
    padding:10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>p{
    width: 90%;
    font-size: 0.7em;
    font-weight: bold;
    text-align: justify;
  }
  .quiz--display>ul
  {
    width: 90%;
    height: 60%;
    list-style:lower-roman;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>ul>li{
    width: 100%;
    height: 30px;
    font-size: 0.7em;
    padding:5px 15px;
    font-weight: bold;
    background-color: #dbdde6;
    border-radius: 10px;
    text-align: justify;
  }
  .quiz--display .buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display .buttons>button{
    width: 60px;
    height: 30px;
    border: none;
    background-color:#e44002;
    font-weight: 600;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
  }
}

@media only screen and (min-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
  .main--section {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-section {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* .card{
    height: 200px;
    width: 200px;
    background-color: var(--dark);
    border: 2px solid #fff;
    color: var(--bright);
  } */
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(23% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    width: 70%;
    height: 40px;
    font-size: 1.2em;
    color: #fff;
    background-color:#3ecd5e;
    border-radius: 20px;
    border: none;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  .main-div{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #q-title{
    width:50%;
    height: 100px;
    font-size: 3.3em;
    text-transform: capitalize;
  }
  .quiz--display{
    width: 50%;
    height: 450px;
    background-color: #ffffff;
    padding:10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>p{
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
  }
  .quiz--display>ul
  {
    width: 90%;
    height: 60%;
    list-style:lower-roman;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>ul>li{
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    padding:5px 15px;
    font-weight: bold;
    background-color: #dbdde6;
    border-radius: 10px;
    text-align: justify;
  }
  .quiz--display .buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display .buttons>button{
    width: 100px;
    height: 40px;
    border: none;
    background-color:#e44002;
    font-weight: 600;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
  }
}

@media only screen and (min-width: 500px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
  .ag-format-container {
    width: 96%;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
  .main--section {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-section {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* .card{
    height: 200px;
    width: 200px;
    background-color: var(--dark);
    border: 2px solid #fff;
    color: var(--bright);
  } */
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(23% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    width: 70%;
    height: 40px;
    font-size: 1.2em;
    color: #fff;
    background-color:#3ecd5e;
    border-radius: 20px;
    border: none;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  .main-div{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #q-title{
    width:50%;
    height: 100px;
    font-size: 3.3em;
    text-transform: capitalize;
  }
  .quiz--display{
    width: 50%;
    height: 450px;
    background-color: #ffffff;
    padding:10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>p{
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
  }
  .quiz--display>ul
  {
    width: 90%;
    height: 60%;
    list-style:lower-roman;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display>ul>li{
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    padding:5px 15px;
    font-weight: bold;
    background-color: #dbdde6;
    border-radius: 10px;
    text-align: justify;
  }
  .quiz--display .buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .quiz--display .buttons>button{
    width: 100px;
    height: 40px;
    border: none;
    background-color:#e44002;
    font-weight: 600;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
  }
}



